dist/
www/
*~
*.sw[mnpcod]
*.log
*.md
*.lock
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
*.cache
*.editorconfig

node_modules/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.env
.eslintcache
.terraform
*.plan
.terraform
.terraform.lock.hcl
.vscode/
pdf-mailer-v2/.cache/puppeteer/
pdf-mailer-v2/.editorconfig
pdf-mailer-v2/.eslintignore

temp/
*.zip
*.mjs
